.main_menu {
  background-color:#00f;
  
  font-size: 10px;  
  position: relative;
  width:auto;
  display:block;
}

.main_menu_horizontal {
    height: auto;
}

.main_menu_vertical {
    height : auto;
    display:block;
    width:auto;
}

#mainmenu ul,
#mainmenu li,
#mainmenu span,
#mainmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}

#mainmenu li {
    padding:0;
}

#mainmenu ul {
    background-color: #33f;
    
}

#mainmenu ul li ul{
    background-color: #66f;
    
}


#mainmenu ul li ul li ul{
    background-color: #99f;      
}



#mainmenu {
  float:left;
  z-index: 1000;
}
#mainmenu:after,
#mainmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#mainmenu a {
/*  color: #5F5E5E;*/
  display: block; 
  line-height: 35px;
  padding: 0 10px;
  text-decoration: none;
}

#mainmenu ul li a:link, #mainmenu ul li a:visited{
    padding:4px 10px; 
    line-height: normal;     
}

#mainmenu ul li a.subLevelLink_1:link,  ul li a.subLevelLink_1:visited {
    padding-left:20px;   
    /* background-color: #ddd; */
    display:block;
}


#mainmenu ul li a.subLevelLink_2  {
    padding-left:30px;    
    /* background-color: #bbb;*/
    display:block;
}

#mainmenu ul li a.subLevelLink_3  {
    padding-left:40px;   
   /* background-color: #999;*/
    display:block;
}

#mainmenu ul li a.subLevelLink_4  {
    padding-left:50px;   
   /* background-color: #999;*/
    display:block;
}

#mainmenu a.mainlast { padding-right:5px; }

#mainmenu a:hover { color:#000;}


#mainmenu li.mainVert { 
    display:block;
    width:100%;
}




/*
#mainmenu li.subLevel_0 {
    padding-left:0px;
}

#mainmenu li.subLevel_1 {
   padding-left:20px; 
    width:90%;
    line-height:20px;
    height:20px;
    color:#f00;
}

#mainmenu li.subLevel_2 {
    padding-left : 40px;
}*/


#mainmenu ul {
  list-style: none;
}
#mainmenu > ul {
  float: left;
}
#mainmenu > ul > li {
  float: left;
}

#mainmenu ul li ul, #mainmenu ul li ul li {
    z-index: 1001;
}
#mainmenu ul li.hasSub:after {
/*#mainmenu > ul > li.hasSub:after {*/
    border:0;
    content: "";
    display: block;
    height: 0;
    width: 0px;
    top:80%;
    left:10px;
    position: absolute;  
    background-color: transparent;
    
    border-color: transparent;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-top-color: #999;
}

#mainmenu > ul > li.hasSub:hover:after {
    border-top-color:#f0f;
}

#mainmenu > ul > li.mainVert.hasSub:after {
    border-left: 5px solid #999;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-width: 5px 0 5px 5px;
    margin-left: -10px;
    left:100%;
    top:7px;
}
#mainmenu > ul > li.mainVert.hasSub:hover:after {
    border-width: 5px 0 5px 5px;
    border-color:transparent;    
    border-left-color : #999;      
}



#mainmenu .hasSub1 > ul > li.hasSub:hover:after {
/*  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  right: -3px;
  top: 1px;
  border-right: 8px solid #666;
  border-bottom: 8px solid transparent; 
  border-top: 8px solid transparent;
  margin-left: -10px;*/
}

#mainmenu .hasSub {
  /*z-index: 1000;*/
}
#mainmenu .hasSub:hover > ul {
  display: block;
}
#mainmenu .hasSub ul {
  display: none;
  position: absolute;
  min-width: 200px;
  top: 100%;
  left:0%;
  border-radius: 6px;
  padding: 2px;
  /* background:url(../img/bg-submenu.jpg) #ddd;*/
  /*background-color: #f0f;*/
  border: 1px solid #ccc;
}


#mainmenu ul .posLeft {
  top: 0%;
  left:-300px;
  width:300px;
  float:right;
}

#mainmenu ul li ul .posLeft {
  top: 0%;
  left:-300px;
  width:300px;
  float:right;
}




#mainmenu ul .posRight {
  top: 0%;
  left: 100%;
}

#mainmenu ul .posBottom {
  top: 100%;
  left: 0px;
 
}

#mainmenu .hasSub ul li {
/*  *margin-bottom: -1px; */
    border-top: 1px dotted #999;
}

#mainmenu  ul li ul li a {
  font-size: 13px;
  display: block;
  line-height: 120%;
  padding: 5px;
  margin: 5px;
}
#mainmenu ul li ul li:hover a {
  color:#fff;
}
#mainmenu ul li.firstItem{
    border-width: 0 1px 0 0;
}

#mainmenu .hasSub .hasSub:hover > ul {
/*   background:#666;*/
   
   display: block;
}



#mainmenu .hasSub .hasSub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: -8px;
}

#mainmenu .hasSub .hasSub .posLeft {
  top: 0%;
  left:-300px;
  width:300px;
  float:right;
  background-color:#f77;
}

#mainmenu .hasSub .hasSub ul li  {
  border-bottom: 1px dotted #ddd;
}

#mainmenu .hasSub .hasSub ul li a:link {
/*  background: #666;*/
  color:#ddd;
  border-bottom: 0px dotted #ddd;
}
#mainmenu .hasSub .hasSub ul li a:hover {
 
  color:#666;
}



#mainmenu .hasSub .hasSub ul li.firstItem {
    border:none;
}

.bright { border-right: 1px solid #ddd;}


#mainmenu .select {
/*    color:#b00;
    background-color: #3f3;*/
    display: block;
}

#mainmenu li.subSelect {
/*    background-color:#55f;
    color:#f44;*/
}


#mainmenu li.subSelect:hover {
/*    background-color:#55c;
    color:#f00;*/
}

#mainmenu li.subSelect a:link ,#mainmenu li.subSelect a:visited  {
/*    color:#f77;*/
}

#mainmenu li.subSelect a:hover {
/*    color:#f00;*/
}


#mainmenu ul li ul li.subSelect {
/*    background-color:#88f;*/
}

#mainmenu ul li ul li ul li.subSelect {
/*    background-color:#ccf;*/
}


#mainmenu a.select {
    /*color:#b00;
    background-color: #0f0; */
}

#mainmenu a.subSelect {
    display: block;
    /*color:#0f0;
    background-color: #00f;    */
}

#mainmenu .naviItemDiv {
    cursor:pointer;

}

#mainmenu ul li.hasSub .naviItemDiv {
/*    background-color:#ff7;*/
}
#mainmenu ul li .naviItemDiv {
/*    background-color:#cc7;*/
}

#mainmenu ul li .naviItemDiv:hover {
/*    background-color:#ff0;*/

}

#mainmenu ul li.hasSub .naviItemDiv:hover {
/*    background-color:#ff0;*/

}


#mainmenu ul li ul li .naviItemDiv{
/*    background-color:#f7f;*/

}

#mainmenu ul li ul li .naviItemDiv:hover{
/*    background-color:#f0f;*/

}


#mainmenu a.hiddenLink:link {
    display:none;
    width:0px;
    height:0px;
    background-color:#f00;
}


.subPageNaviFrame{
   
   
}

.subPageNavi_Line {
   
    display:inline-block;
}




.subPageNavi {
    background-color:inherit;
    border:1px solid #ccc;
    float:left;
    cursor:pointer;   
    overflow:hidden;
}
.subPageNavi:hover {
    background-color:#eee;
    border:1px solid #aaa;
    
}

.subPageNavi_selected{
    background-color:#cf7;
   
}

.subPageNavi_selected:hover{
    background-color:#ef9; 
    border-color:#ae5;
}

.subPageNavi_Icon {
    float:left;
    margin-right:5px;
}

.subPageNavi_Text {
    float:left;    
}

.subPageNavi_title {
    font-size:14px;
    font-weight: bold;
    color:#333;
    border-bottom: 1px solid #333;
}
.subPageNavi_info{
    color:#666;
}

