.main_menu {
  background-color: #eee;
  font-size: 10px;  
  height: 24px;
/*  border-radius:10px 0 10px;*/
 
  
}

.main_menu_horizontal {
    height: 24px;
    border: 1px solid #333;    
    /* border-width: 1px 0 1px 0;*/
}

.main_menu_vertical {
    height : auto;
    display:block;
    width:auto;
}

#mainmenu ul,
#mainmenu li,
#mainmenu span,
#mainmenu a {
  margin: 0;
  padding: 0 30px;
  position: relative;
}

#mainmenu li {
    padding: 0 10px;
    background-color: #eee;
    
}

#mainmenu ul {
    background-color: #eee;
    padding :0px;
    font-size: 12px;
    font-weight: normal;
}

#mainmenu ul li ul{
    background-color: #eee;
    
}


#mainmenu ul li ul li ul{
    background-color: #fff;      
}

#mainmenu ul li{
    border:0;
    border-radius: 0;
    margin-left:0px;
    background-color: #eee;
    border:1px solid #333;
    border-width: 0 1px;
    border-left-color: transparent;    
}


#mainmenu {
    border-radius:0;
    background-color: #eee;
    float:left;
    z-index: 1000;
}
/*
#mainmenu:after,
#mainmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
*/
#mainmenu a {
    line-height: 24px;
    padding: 0;   
 
}
/*

#mainmenu a.mainlast { padding-right:5px; }

#mainmenu a:hover { color:#000;}


#mainmenu li.mainVert {
    width:100%;
}

#mainmenu ul {
  list-style: none;
}
#mainmenu > ul {
  float: left;
}
#mainmenu > ul > li {
  float: left;
}

#mainmenu > ul > li.hasSub:after {
  content: '';
  display: none;
  width: 0px;
  height: 0px;
  position: absolute;
  left: 95%;
  top: 50%;
  border:0;
  margin-left: -10px;
}


#mainmenu > ul > li.hasSub:hover:after {
  border-left-color:#fff;
}

#mainmenu .hasSub1 > ul > li.hasSub:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  right: -3px;
  top: 1px;
  border-right: 8px solid #666;
  border-bottom: 8px solid transparent; 
  border-top: 8px solid transparent;
  margin-left: -10px;
}

#mainmenu .hasSub {
  z-index: 1000;
}
#mainmenu .hasSub:hover > ul {
  display: block;
}
*/
#mainmenu .hasSub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left:0%;
  border-radius: 0 ;
  padding: 0;
  border: 1px solid #666;
  background-color: #ddd;
}
/*

#mainmenu ul .posLeft {
  top: 0%;
  left:100%;
  background-color:#f00;
}

#mainmenu ul .posRight {
  top: 0%;
  left: 100%;
  background-color:#f00;
}

#mainmenu ul .posBottom {
  top: 100%;
  left: 0px;
  background-color:#f00;
}
*/

#mainmenu .hasSub ul li {
    border-top: 1px solid #999;
    padding:0;
}
#mainmenu ul li ul li{
    border-color : #880;
    background-color: #999;
    color:#fff;
    padding:0;
    border-radius: 0;
    background-color: inherit;    
    margin-top: 0px;
    height:auto;

}

#mainmenu .hasSub ul li a {
  font-size: 11px;
  display: block;
  padding: 2px 5px;
  line-height:20px;
  margin: 0px;
  
  
}

#mainmenu .hasSub ul li:hover a {
  background: #fff;
  color:#333;
}


#mainmenu ul li.firstItem{
    /*border-color:#333; */    
    margin-left: 0px;
}


#mainmenu ul li ul li {
    border:0; /*px solid #88dd66;
    border-left-color:#88dd66;*/
}


#mainmenu ul li ul li.firstItem{
    border:0;
    /*1px solid #88dd66;
    border-top-color:#88dd66;*/
}

#mainmenu ul li ul li.firstItem{   
}


#mainmenu .hasSub .hasSub:hover > ul {
   background:#ccc;
   border:none;
   display: block;
   border:1px solid #333;
}
/*

#mainmenu .hasSub .hasSub ul:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 5px;
  top: 1px;
  border-right: 8px solid #666;
  border-bottom: 8px solid transparent; 
  border-top: 8px solid transparent;
  margin-left: -10px;
}
*/
#mainmenu .hasSub .hasSub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0px;
  background-color: #f00;
} 


#mainmenu .hasSub .hasSub ul li  {
    margin: 0px 0 0 0;
    padding:0;
    border-top: 1px solid #333;
}

#mainmenu .hasSub .hasSub ul li a {
  background: inherit;
  color:#666;  
  padding: 1px 3px;
}

#mainmenu .hasSub .hasSub ul li a:hover {
  color:#333;
  background: inherit;
}



#mainmenu .hasSub .hasSub ul li.firstItem {
    border-top:0;    
}

#mainmenu .select {
    color:inherit;
    background-color:#fff; 
    display:block;
}

#mainmenu li.subSelect {
    background-color:#fff;
    color:#000;
}


#mainmenu li.subSelect:hover {
    background-color:#fff;
    color:#f00;
}


#mainmenu li.subSelect a:link ,#mainmenu li.subSelect a:visited  {
    color:#333;
} 

#mainmenu ul li.select {
    border-left-width:0px;
    
}

#mainmenu li.subSelect a:hover {
    color:#000;
}


#mainmenu ul li ul li.subSelect {
    background-color:#ddd;
}

#mainmenu ul li ul li ul li.subSelect {
    background-color:#eee;
}


#mainmenu a.select {
    
    color:#333;   
}

#mainmenu a.subSelect {
   
    color:#666;
}

