/* 
    Document :cmsEdit
    Created on:30.03.2012, 15:27:52
    Author   :Stefan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/

fff => fff;
eee => #ffebdb;
ddd => #ffd8b8;
ccc => #ffc494;
bbb => #ffb071
aaa => #ff9d4e
999 => #ff8827
888 => #ff7301
777 => #e56701
666 => #cc5c01
555 => #b25001
444 => #8f4001
333 => #6b3000
222 => #472000
111 => #241000;
000 => #000;
*/



root {}


.sitemapPlaceholder {
    border-color:#ffc494;
    background-color:#ffebdb;

}

.siteMapDynamic {
    background-color:#ffebdb;
    color:#6b3000;
    border-color:#ff7301;
}

.cmsLoading{
    /*background-color:#ffc494;*/
}

.spacerDrop:hover{
    background-color:#6b3000;
}

.spacerDrop_active{
    background-color:#ffebdb;
    border-color:#ffc494;
}

.spacerDrop_hover{
    background-color:#ffc494;
    border-color:#ff9d4e;
}

.cmsContentEditFrame {
    border-color:#cc5c01;
    background-color:#ffd8b8;
}


.cmsEditFrameBox {   
    background-color:#ff7301;
    border-color:#ffc494;
}

.cmsEditFrameBox_hidden {}

.cmsEditFrame_SiteBar {
    background-color: #ff7301;
    color : #ffebdb;    
}

.cmsEditFrame_SiteBar:hover {
    background-color: #e56701;
    color : #fff;    
}

.cmsEditFrame_Content {
    background-color:#ffd8b8;
    border-color:#ffc494;    
}

.cmsEditFrame_content_hidden {}

.cmsEditFrame_myCms {
    color:#cc5c01;
}

.cmsEditFrame_myCms:hover {
    color:#6b3000;
}

.cmsEditFrame_button {
    border-color:#ff8827;
    background-color:#ffebdb;
    color :#cc5c01;    
}

.cmsEditFrame_button:hover {
    border-color:#cc5c01;
    background-color:#ffd8b8;
    color :#6b3000;
}

.cmsEditFrame_headLine {
    color :#cc5c01;    
}

.cmsEditFrame_headLine:hover {
     color :#b25001;
}

.cmsEditFrame_headLine2 {
    color :#ff7301;    
}

.cmsEditFrame_headLine2:hover {
    color :#e56701;
}


.cmsEditFrameBox_Close {    
}

.cmsEditFrameTabButton {
  background-color:#ff0;
  border-color:#000;
}

.cmsContentFrame_editButton { 
}

.cmsContentFrame_editButton:hover {
    background-color: #ffc494;
}

.cmsContentFrame_editButton {    
}

input[readonly] {
  color:#cc5c01;  
  background-color:#ffebdb;
}

input[disabled] {
  color:#ff8827;
  background-color:#fff;
  border-color:#ffd8b8;
}

span {}

.cmsPageLine {
    background-color:#ff8827;
}

.cmsEditLine {   
    background-color:transparent;   
}

.cmsEditLine:hover {    
}

.cmsEditLineLine {
    border-color:#6b3000;
}

.cmsEditLineBox {
    border-color:#6b3000;
    background-color:transparent;    
}


.cmsEditLineBox:hover {
    background-color:#fff;    
}

.cmsEditLine:hover {
    background-color:transparent;    
}

.cmsEditLineOpen {   
}

.cmsEditLineOpen:hover {
    background-color:transparent;
}

.cmsEditLineSelected {
    background-color:#ffc494;    
}

.cmsEditLineSelected:hover {
    background-color:#fff;
}

.cmsEditLineSelected:hover {
    background-color:#fff;
}

.cmsEditLine a:link {
    color:#6b3000;
}
.cmsEditLine a:hover {
    color:#6b3000;
}

.cmsEditLineSelected a {
    color:#b25001;
}
.cmsEditLineSelected a:hover {
    color:#6b3000;
}

.cmsEditBox {
    border-color:#ff8827;   
}
.cmsEditBox:hover {
    background-color:#ffebdb;    
}

.dragButton {}

.dragButton:hover {
    background-color:#ffc494;
}

.cmsContentFrame_editButton {}
.cmsContentFrame_editButton:hover {
    background-color:#ffc494;
}

.cmsContentFrame_editPageButton {}
.cmsContentFrame_editPageButton:hover {
    background-color:#ffc494;
}


.cmsContentFrame_deleteButton {    
}

.cmsContentFrame_deleteButton:hover {
    background-color:#ffc494;
}

.cmsEditFrame{
    background-color:#ff0;
}

.cmsEditFrame_hidden {}

.cmsContentFrame_hidden{}

    
.cmsContentFrameBox {}

.cmsContentHead {
    background-color:#6b3000;
    border-color:transparent;
    color:#ffc494;
}

.cmsContentHeadFrame {
    background-color:#6b3000;   
}

.cmsContentHeadModification {
    background-color:#dfd;
}

.cmsContentHeadOver {
    background-color:#6b3000;    
    border-color:#e56701;
    color:#ffc494;
}

.cmsContentHeadFrameOver {}

.cmsContentFrame_Dummy {
    border-color:#ff8827;   
}

.cmsContentFrame_Dummy:hover {
}

.cmsContentFrame_DummyFrame {    
    border-color:#ff8827; 
    background-color:inherit;    
    color:#ff8827;
}

.cmsContentFrame_DummyFrame:hover {
    background-color:#ff8827;    
    color:#fff;
    border-color:fff;
}

.cmsContentFrameOver {}

.cmsContentAddFrame {
    border-color:#ff8827;
    background-color:#ffebdb;   
}

.dynamicTitleFrame {
    background-color:#ffebdb;
    color:#6b3000;
    border-color:#ff7301;   
}

a.cmsDynamicSelect:link,  a.cmsDynamicSelect:visited {
    border-color:#ffc494;
    background-color: #ffebdb;    
}

a.cmsDynamicSelect:hover,  a.cmsDynamicSelect:active {
   background-color:#ffd8b8;
}

a.cmsDynamicSelect_active:link, a.cmsDynamicSelect_active:visited {
    background-color:#b25001;
    color:#ffd8b8;
}

a.cmsDynamicSelect_active:hover, a.cmsDynamicSelect_active:active {
    background-color:#6b3000;
    color:#fff;
}

a.cmsDynamicSelect_clear:link, a.cmsDynamicSelect_clear:visited {
    background-color:#e56701;
    color:#ffd8b8;
}

a.cmsDynamicSelect_clear:hover, a.cmsDynamicSelect_clear:selected {
    background-color:#ff8827;
    color:#fff;
}

.cmsModulFrame {}

.cmsModulContentFrame {
    border-color:#cc5c01;
    background-color:#ffebdb;
}

.cmsModulImageFrame {
    border-color:#cc5c01;
    background-color:#ffebdb;
}

.cmsModulImageScroll {
    border-color: #cc5c01;
    background-color:#ffebdb;
}


.cmsModul_hidden {}

.cmsModulAdd{}
.cmsModulAdd:hover{
    background-color:#ffc494;
}


.cmsImageAdd {}
.cmsImageAdd:hover {
    background-color:#ffc494;
}

cmsImageDropFrame{
    border-color:#e56701;
}


.cmsImageDropFrame_active{
    /*border-color:#ff9d4e;  */
    background-color:#ffd8b8;
}

.cmsImageDropFrame_hover{
    border-color:#ff7301;
    background-color:#ff9d4e;
}


.cmsModulContentCategory {
    border-color:#cc5c01;
    color:#cc5c01;
}

.cmsModulContentCategory:hover {
    color:#6b3000;
    border-color:#6b3000;
    background-color:#fff;
}

.cmsModulContentCategorySecond {}

.cmsModulCategoryFrameSecond {}

.cmsModulCategoryFrame {}

.cmsModulCategoryFrameHidden {}

.cmsModulContentHead {
    background-color:#b25001;
    color:#ffebdb;    
}

.cmsModulContentButton {
    border-color:#cc5c01;
    background-color:#ffd8b8;
}
.cmsModulContentButtonSecond {    
}

.cmsModulContentButton {
    background-color:#fff;    
}

.cmsContentEnd, .cmsContentStart{
    border-color: #ff8827;
    background-color:#ffc494;
}
.cmsContentEnd_hidden, .cmsContentStart_hidden {}
.cmsContentEnd:hover, .cmsContentStart:hover{
    border-color:#ffd8b8;
    background-color:#ffebdb;
}






.cmsForm{}

a.cmsLinkButton {
    background-color:#cc5c01;
    border-color:#ff8827;
    color:#ffd8b8;    
}

a.cmsLinkButton:hover {
    background-color:#6b3000;
    color:#fff;
}

.cmsJavaButton {
    background-color:#cc5c01;
    border-color:#ff8827;
    color:#ffd8b8;   
}

.cmsJavaButton:hover {
    background-color:#6b3000;
    color:#fff;
}

.cmsInputButton {
    background-color:#cc5c01;
    border-color:#ff8827;
    color:#ffd8b8;    
}

.cmsInputButton[disabled] {
  color:#ffd8b8;
  background-color:#ff8827;
  border-color:#ffd8b8;
}


.cmsInputButton[disabled]:hover {
  color:#ffd8b8;
  background-color:#ff8827;
  border-color:#ffd8b8;  
}

.cmsInputButton:hover {
    background-color:#b25001;
    color:#fff;
    border-color:#6b3000;
}

.cmsSmallButton {
    background-color:#cc5c01;
    border-color:#ff8827;
    color:#ffd8b8;
}

.cmsSmallButton:hover {
    background-color:#b25001;
    border-color:#6b3000;
    color:#fff;
}

a.cmsContentHeadButton, a.cmsContentHeadButton:visited, .cmsContentHeadButton {
    background-color:#cc5c01;
    border-color:#ff8827;
    color:#ffd8b8;
}

a.cmsContentHeadButton:hover, a.cmsContentHeadButton:active, .cmsContentHeadButton:hover {
    background-color:#b25001;
    border-color:#6b3000;
    color:#fff;
}

.cmsContentHeadInputButton {
    background-color:#cc5c01;
    border-color:#ff8827;
    color:#ffd8b8;
}

.cmsContentHeadInputButton:hover {
    background-color:#b25001;
    border-color:#6b3000;
    color:#fff;
}

.cmsInputButton .cmsEditFrame {}

a.cmsSecond, .cmsSecond {
    background-color:#ffebdb;
    border-color:#cc5c01;
    color:#6b3000
}

a.cmsSecond:hover, .cmsSecond:hover {
    background-color:#ffd8b8;
    border-color:#6b3000;
    color:#000;
}

.cmsEditTabLine {
    background-color:#ffd8b8;   
}

.cmsEditTab {
    background-color:transparent;
    border-color:#cc5c01;
    color:#cc5c01;
}

.cmsEditTab:hover {
    background-color:#ffc494;
    color:#6b3000;
}

.cmsEditTabModification {
    background-color:#dfd;
}

.cmsEditTabModification:hover {
    background-color:#9f9;    
}

.cmsEditTab_selected {
    background-color:#ffebdb;
    border-color:#ff8827;
    color:#b25001;
}

.cmsEditTab_selected:hover {
    background-color:#ffebdb;
    color:#6b3000;
}

.cmsEditTabModification_selected {
    background-color:#6f6;
}

.cmsEditTabModification_selected:hover{
    background-color:#2f2;
}

.cmsEditFrame {
    background-color:#ffebdb;
    color:#b25001;    
}

.cmsEditFrameButtons{
    background-color:#ffebdb;    
}

.cmsEditFrameModification {
    background-color: #dfd;
}

.cmsEditFrameHidden {}

.cmsEditHorButton , .cmsEditVerButton, .cmsEditSelectButton {
    border-color:#ffc494;
    background-color:#ffebdb;

}

.cmsToggleSelect {
    border-color:#ff8827;
    background-color:transparent;    
}

.cmsToggleItem {
    border-color:#cc5c01;
    background-color:#fff;
    color:#cc5c01;
}

.cmsToggleItem:hover {
    color:#6b3000;
    background-color:#ffebdb;    
}

.cmsToggleSelected {
    background-color:#cc5c01;
    color:#ffd8b8;
}

.cmsToggleSelected:hover {
    color:#fff;
    background-color:#b25001;    
}

.selectedHAlign, .selectedVAlign {
    background-color: #ff9d4e;
}

.selectButtonSelected {
    background-color: #ff9d4e;
}

.cmsFlipFrameSelect {
    background-color:#ffebdb;    
}

.cmsFlipFrameSelector {
    background-color:#88cc88;    
}


.cmsFlipFrameSelectorSelected {
    background-color:#00dd00;
}
.cmsFlipFrameSelectorSelected:hover {
    background-color:#00ffaa;
}

.cmsFlipFrameSelector:hover {
    background-color:#00ffcc;
}

.cmsImageSelector {
    border:1px solid #ff8827;
    background-color:#ffebdb;
}

.cmsImageScroll {
    border-color:#cc5c01;
    background-color:#ffd8b8;
}

.cmsImageSelectFrame {
    background-color:#ffc494;
    border-color:#ff8827;    
}

.cmsImageSelectFrame:hover {
    background-color:#fff;    
}


.cmsFolderSelectFrame {
    background-color:#ffc494;
    border-color:#ff8827;    
}

.inputRight {}

.cmsInputLine {
    border-color:#ffebdb;    
}

.cmsInputLine:hover {
    background-color:#ffebdb;
    border-color:#ffd8b8;
}

.cmsInputLineTip{
    background-color:#ffc494;
    border-color:#e56701;    
}

.cmsInputLineTip:hover{
    background-color:#ff9;
    border-color:#55a;       
}

.cmsInputLineTipBox {
    background-color:#ff9;
    border-color:#55a;      
}
.cmsImage_listList {
    background-color:#e8e8e8;
}

.imageListLine {    
    border-color:#ffebdb;
    background-color:#ffd8b8;
}

.imageListLine:hover {
    background-color:#fff;
}

div.fileinputs {}

div.fakefile {}

input.file {}

.hiddenTextArea {}

.error {
    color:#F29023;
}

.cmsPageingFrame {
    background-color:transparent;    
}

.cmsPageingButtonAktiv {
    text-decoration:none;
    background-color:transparent;
    color:#800;
    border-color:#ffd8b8;
}
.cmsPageingButtonAktiv:hover {}

.adminDatesOutputFrame {}


.cmsPageingButton {
    background-color:#ffebdb;
    border-color:#ff8827;
    color:#cc5c01;    
}

.cmsPageingButton:hover {
    background-color:#ffebdb;
    border-color:#cc5c01;
    color:#6b3000;   
}

.cmsCustomFilterList {
    background-color:#ffd8b8;
    border-color:#ff8827;
}

.cmsShowDataTitleLine {
    background-color:#ffc494;
    color:#e56701;
}

.cmsShowDataTitleItem {
    color:#b25001;
    border-color:#ffc494;    
}

.cmsShowDataSort {
    color:#b25001;
}

.cmsShowDataSort:hover {
    color:#6b3000;    
}

.cmsShowDataSort_up {
    color:#f4f4f4;
}

.cmsShowDataSort_up:hover {
    color:#fff;
}

.cmsShowDataSort_down {
    color:#f4f4f4;
}
.cmsShowDataSort_down:hover {
    color:#fff;
}

.cmsCompanyTitleLine, .cmsProductTitleLine, .cmsCategoryTitleLine, .cmsLocationTitleLine, .cmsDatesTitleLine {
    background-color:#ffc494;
}
   
.cmsShowDataLine {
    background-color:transparent;
    color:#b25001;    
}

.cmsShowDataLine:hover {
    background-color:#ffebdb;
    color:#6b3000;    
}

.cmsShowDataItem {
    border-color:#ffc494;    
}
.cmsShowDataItem_image {    
}

.cmsCompanyLine, .cmsProductLine, .cmsCategoryLine, .cmsLocationLine, .cmsDatesLine {
    background-color:transparent;
    color:#b25001;    
}

a.cmsCompanyLine, a.cmsProductLine, a.cmsCategoryLine, a.cmsLocationLine, a.cmsDatesLine {
    color:#F29023;
}

.cmsCompanyLine:hover, .cmsProductLine:hover, .cmsCategoryLine:hover, .cmsLocationLine:hover, .cmsDatesLine:hover {
    background-color:#ffebdb;
    color:#6b3000;    
}

.autocomplete-w1 { 
}
.autocomplete { 
    border-color:#ff8827; 
    background:#FFF; 
}
.autocomplete .selected {
    background:#F0F0F0; 
}
.autocomplete div {    
}
.autocomplete strong {
    color:#3399FF; 
}


.dragFrame .dragBox .dragLine{
    background:#f0f0f0;
    color:#000;
    border-color:#ffebdb;    
}

.dragFrame .dragPlaceholder{
    background:#ff0;
    border-color:#ffd8b8;
}


