

body { 
     background-image: url('/skCom/style/raster2.png');
     background-repeat: repeat-y;
     background-color: #eaa;
}

.header {
    
    color:#666;
}

.LayoutFrame{
    margin:0px;
}

.content{
    
}

.content_box{
}

.frame1 {
    background-color:inherit;
    border: 1px solid #eee;
    border-width:0px;
    border-radius:0px;
    padding:5px;
}

.footer {
    background-color: transparent;
    border : 1px solid #333;
    border-width: 2px 0 0 0;
    height: auto;
    padding:3px 0;    
}

.footerLink {
    background-color: transparent;
    font-size:12px;
    padding: 1px 2px;
    line-height: 10px;
    border-width: 1px;
    border-color:transparent;
    height: auto;
}
.footerLink:hover {
    background-color: #eee;
    border-color:#88dd66;
}
