/* 
    Document   : cmsEdit
    Created on : 30.03.2012, 15:27:52
    Author     : Stefan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

input[readonly] {
  color: red;
  border:0px;
  background-color: #fff;
}

input[disabled] {
  color: #070;
  background-color: #ddd;
}

span {
    vertical-align: top;
}


.cmsPageLine {
    width:100%;
    background-color: #999;
    padding:5px 2px 5px 2px;
    
}


.cmsEditLine {
    height:20px;
    -moz-opacity:0.5 ;
    filter:alpha(opacity:50);
    opacity: 0.5;
    position: relative;
    margin-bottom:0px;
    top:+10px;
    left:0px;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    z-index:5998;
}

.cmsEditLine:hover {
    -moz-opacity:1.0 ;
    filter:alpha(opacity:100);
    opacity: 1;
}

.cmsEditLineLine {
    border: 0px solid #333;
    border-bottom-width:2px;
    margin: 0px; 
    display : block;
    padding:0px;
    height:10px;
    float:left;
    
}

.cmsEditLineBox {
    height:18px;
    width:18px;
    border-radius:10px;
    border: 1px solid #333;
    -moz-opacity:0.5 ;
    filter:alpha(opacity:50);
    opacity: 0.5;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    z-index:5998;
    float:left;
}

.cmsEditLineBox:hover {
     background-color: #fff;
     -moz-opacity:1.0 ;
    filter:alpha(opacity:100);
    opacity: 1;
}



.cmsEditLine:hover {
    -moz-opacity:1.0 ;
    filter:alpha(opacity:100);
    opacity: 1;
    background-color: transparent;
    cursor:pointer;
}

.cmsEditLineOpen {
    -moz-opacity:1.0 ;
    filter:alpha(opacity:100);
    opacity: 1;
}

.cmsEditLineOpen:hover {
    background-color:transparent;
}


.cmsEditLineSelected {
    -moz-opacity:1.0 ;
    filter:alpha(opacity:100);
    opacity: 1;
    position: relative;
    top:+10px;
    background-color: #ccc;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    z-index:5998;
}



.cmsEditLineSelected:hover {
    background-color: #fff;
}

.cmsEditLineSelected:hover {
    background-color: #fff;
}

.cmsEditLine a:link {
    text-decoration: none;
    color:#333;
}
.cmsEditLine a:hover {
    text-decoration: none;
    color:#333;
}

.cmsEditLineSelected a {
    text-decoration: none;
    color:#555;
}
.cmsEditLineSelected a:hover {
    text-decoration: none;
    color:#333;
}




.cmsContentHead {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color:#333;
    margin-bottom:0px;
    border:1px solid transparent;
    color:#ccc;
    
    padding:2px 2px 2px 2px;
    position:relative;
    left:-5px;
}

.cmsContentHeadFrame {
    background-color:#333;
   
}
.cmsContentHeadModification {
    background-color: #dfd;
}

.cmsContentHeadOver {
    background-color:#333;
    margin:0px;
    border:1px solid #777;
    color:#ccc;
}

.cmsContentHeadFrameOver {
    
}

a.cmsContentHeadButton, a.cmsContentHeadButton:visited, .cmsContentHeadButton {
    display:inline-block;
    padding: 0 5px 0 5px;
    height:11px;
    line-height: 10px;
    font-size: 10px;
    margin-top:1px;
    margin-right: 3px;
    border:1px solid #ddd;
    background-color: #fff;
    text-decoration: none;
    color:#777;
}

a.cmsContentHeadButton:hover, a.cmsContentHeadButton:active, .cmsContentHeadButton:hover {

    border:1px solid #999;
    background-color: #ccc;
    text-decoration: none;
    color:#333;
    cursor:pointer;
    

}


.cmsContentHeadInputButton {
    display:inline-block;
    padding: 0 5px 0 5px;
    height:15px;
    line-height: 10px;
    font-size: 10px;
    margin-top:1px;
    margin-right: 3px;
    border:1px solid #ddd;
    background-color: #fff;
    text-decoration: none;
    color:#777;
}

.cmsContentHeadInputButton:hover {

    border:1px solid #999;
    background-color: #ccc;
    text-decoration: none;
    color:#333;
    cursor:pointer;
}



.cmsContentFrameOver {
    /* background-color: inherit; */
   
}

.cmsContentAddFrame {
    border: 1px solid #f90;
    background-color: #e8e8e8;
    padding: 5px 0 5px 0;
    
}

.cmsForm {
    display:inline;
    
}

a.cmsLinkButton:hover {
    background-color : #fab;
}

a.cmsLinkButton {
    background-color : inherit;
    display: inline-block;
    padding: 4px 10px 4px 10px;
    border: 1px solid #e70;
    text-decoration: none;
    color: #fff;
    font-size:10px;
    margin: 0 10px 10px 0;
    font-weight:normal;
}

.cmsJavaButton:hover {
    background-color : #fab;
    cursor:pointer;
}

.cmsJavaButton {
    background-color : #f90;
    display: inline-block;
    padding: 4px 10px 4px 10px;
    border: 1px solid #e70;
    text-decoration: none;
    color: #fff;
    font-size:10px;
    margin: 0 10px 0 0;
    font-weight:normal;
}

.cmsInputButton {
    background-color : #f90;
    display: inline-block;
    padding: 4px 10px 4px 10px;
    border: 1px solid #e70;
    text-decoration: none;
    color: #fff;
    font-size:10px;
    margin: 0 10px 0 0;
    margin: 0 10px 0 0;
    font-weight:normal;
    cursor:pointer;
}


.cmsInputButton .cmsEditFrame {
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
}

a.cmsSecond, .cmsSecond {
    background-color:#eee;
    border-color:#555;
    color:#333
}

a.cmsSecond:hover, .cmsSecond:hover {
    background-color:#ddd;
    border-color:#333;
    color:#000;
}

.cmsEditTabLine {
    background-color:#333;
    margin-top: 5px;
}

.cmsSmallButton {
    display:inline-block;
    padding: 0 5px 0 5px;
    height:11px;
    line-height: 10px;
    font-size: 10px;
    margin-top:1px;
    margin-right: 3px;
    border:1px solid #ddd;
    background-color: #f90;
    text-decoration: none;
    color:#777;
    text-align: center;
}

.cmsSmallButton:hover {
    cursor:pointer;
    background-color: #d70;
}

.cmsEditTab {
    background-color: transparent;
    float:left;
    display: inline-block;
    margin: 0px;
    border: 1px solid #777;
    border-bottom-width: 0px;
    padding:0 8px 0 5px;
    height: 18px;
    font-size: 12px;

    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;


}

.cmsEditTab:hover {
    background-color: #555;
    cursor:pointer;
}

.cmsEditTabModification {
    background-color: #dfd;
}

.cmsEditTabModification:hover {
    background-color: #9f9;
    cursor:pointer;
}

.cmsEditTab_selected {
    background-color: #eee;
    border-color: #fff;
    color:#555;
}

.cmsEditTab_selected:hover {
    background-color: #eee;
    color:#333;

}

.cmsEditTabModification_selected {
    background-color: #6f6;
}

.cmsEditTabModification_selected:hover{
    background-color: #2f2;
}




.cmsEditFrame {
    background-color: #eee;
    color:#555;
    margin: 0 0 0px 0;
    padding-top: 5px;
    border:0px;
    padding:5px 3px 3px 3px;
}

.cmsEditFrameButtons{
    background-color: #eee;
    padding:3px 3px 3px 3px;
}

.cmsEditFrameModification {
    background-color:  #dfd;
}

.cmsEditFrameHidden {
    height :0px;
    overflow: hidden;
    margin: 0px;
    border: 0px;
    padding:0px;
}


/* cmsEditSelectButton ";
        if ($value == $key) $divName .= " selectedSelect";
        $res .= div_start_str($divName,array("valueName"=>"$value","value"=>$key));
        $res .= $value;
        $res .= div_end_str($divName);

    }


    $divName = "cmsEditHorButton leftHAlign";
    if ($value == "left") $divName .= " selectedHAlign";
    $res .= div_start_str($divName,array("valueName"=>"cmsEditHorInput","value"=>"left"));
    $res .= "<img src='/cms/images/left.gif' >";
    $res .= div_end_str($divName);*/


.cmsEditHorButton , .cmsEditVerButton, .cmsEditSelectButton {
    border : 1px solid #eee;
    display: inline-block;
    background-color: #ccc;
    float:left;
    min-weight: 30px;
    height:18px;
    text-align:center;
}

.cmsToggleSelect {
    border:1px solid #ddd;
    background-color: transparent;
    display: inline-block;
}

.cmsToggleItem {
    float:left;
    height :18px;
    line-height: 18px;
    border: 1px solid #ccc;
    border-right-width: 0px;
    background-color :#999;
    text-align:left;
    padding-left:3px;
    color : #333;
}

.cmsToggleItem:hover {
    color : #333;
    cursor:pointer;
}

.cmsToggleSelected {
    background-color: #fff;
    color:#777
}

cmsToggleSelected:hover {
    color:333;
    cursor:pointer;
}

.selectedHAlign, .selectedVAlign {
    background-color: #fc0;
}

.selectButtonSelected {
    background-color: #fc0;
}

.cmsFlipFrameSelect {
    width:100%;
    background-color:#eee;    
}

.cmsFlipFrameSelector {
    background-color: #88cc88;
    display: inline-block;
    padding: 2px 10px 2px 2px;
    text-decoration: none;
}


.cmsFlipFrameSelectorSelected {
    background-color: #00dd00;
}
.cmsFlipFrameSelectorSelected:hover {
    background-color: #00ffaa;
}


.cmsFlipFrameSelector:hover {
    background-color: #00ffcc;
    cursor:pointer;    
}

.cmsFolderSelectFrame {
    background-color: #555;
    background-image: url(/cms_base/cmsImages/folder.png);
}

.cmsInputLine {
    border-bottom: 1px solid #eee;
    padding : 3px 0 3px 0;
    margin: 1px 0 1px 0;
}

.cmsInputLine:hover {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}

.cmsImage_listList {
    background-color: #e8e8e8;
}

.imageListLine {
    margin: 1px 0 1px 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    background-color:#ddd;
}

.imageListLine:hover {
    background-color:#fff;
}

div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;

}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity:0);
	opacity: 0;
	z-index: 2;
}

.hiddenTextArea {
    visibility: hidden;
    display: none;
}

.error {
    color : #F29023;

}


.cmsPageingFrame {
    background-color: transparent;
    text-align: center;
    height:20px;
    margin:5px 0 5px 0;
}

.cmsPageingButtonAktiv {
    text-decoration: none;
    background-color : transparent;
    color:#800;
    border: 1px solid #ddd;

    padding:0 5px 0 5px;
    margin-right :2px;
    margin-left :2px;
}
.cmsPageingButtonAktiv:hover {
    cursor:default;
}

.adminDatesOutputFrame {
    display:block;
    visibility: visible;
    overflow: auto;

}


.cmsPageingButton {
    text-decoration: none;
    background-color : #ccc;
    border: 1px solid #555;

    padding:0 5px 0 5px;
    margin-right :2px;
    margin-left :2px;
}

.cmsPageingButton:hover {
    text-decoration: none;
    background-color : #eee;
    border: 1px solid #333;
   
}

.cmsShowDataTitleLine {
    height : 20px;
    background-color:#ccc;
    line-height: 20px;
    font-size:12px;
    color:#777;
}

.cmsShowDataTitleItem {
    float:left;
    color:#555;
    padding-left:2px;
    border-right: 1px solid #ccc;    
}

.cmsShowDataSort {
    color :#555;
}

.cmsShowDataSort:hover {
    color :#333;
    cursor:pointer;
}

.cmsShowDataSort_up {
    color:#f4f4f4;
}

.cmsShowDataSort_up:hover {
    color:#fff;
}

.cmsShowDataSort_down {
    color:#f4f4f4;
}
.cmsShowDataSort_down:hover {
    color:#fff;
}

.cmsCompanyTitleLine, .cmsProductTitleLine, .cmsCategoryTitleLine, .cmsLocationTitleLine, .cmsDatesTitleLine {
    height : 20px;
    background-color:#ccc;
    line-height: 20px;
    font-size:12px;
}

.cmsShowDataLine {
    background-color:transparent;
    font-size:12px;
    vertical-align: middle;
    color:#555;
    overflow:hidden;
}

.cmsShowDataLine:hover {
    background-color: #eee;
    color:#333;
    text-decoration: none;
}

.cmsShowDataItem {
    padding-top: 3px;
    padding-left:2px;
    border-right: 1px solid #ccc;
    height :auto;
    overflow: hidden;
}
.cmsShowDataItem_image {
    padding-top : 0px;
}

.cmsCompanyLine, .cmsProductLine, .cmsCategoryLine, .cmsLocationLine, .cmsDatesLine {
    background-color:transparent;
    font-size:12px;
    vertical-align: middle;
    color:#555;
    overflow:hidden;
}

a.cmsCompanyLine, a.cmsProductLine, a.cmsCategoryLine, a.cmsLocationLine, a.cmsDatesLine {
    color:#F29023;
}

.cmsCompanyLine:hover, .cmsProductLine:hover, .cmsCategoryLine:hover, .cmsLocationLine:hover, .cmsDatesLine:hover {
    background-color: #eee;
     color:#333;
    text-decoration: none;
}

.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }